@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  font-family: Nunito Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: auto;

  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de scroll */
  height: 8px; /* Altura para el scroll horizontal */
}

/* Personalizar el fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background: #121212; /* Color del fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Personalizar el "thumb" (parte que se desliza) */
::-webkit-scrollbar-thumb {
  background-color: #2d2d37; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */

}
}



@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  width: 200px;
  @apply bg-white text-black font-bold py-2 px-2 rounded-4xl transition-transform transform active:scale-95
}

.button-third {
  @apply text-white font-bold mt-2 py-1 px-4 rounded-2xl;
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
}

.font-host {
  font-family: 'Host Grotesk', sans-serif;
}

.rounded-4xl {
  border-radius: 2rem;
}

.rounded-b-4xl {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.verde-pastel {
  background: linear-gradient(to right, #9dc09d, #8fd3c4);
  background: linear-gradient(to right, #e8ff21, #a3ff3a);
  /* background: #e8ff21; */
  

}

.rojo-pastel {
  background: linear-gradient(to right, #ff6b6b, #d16ba5);

}

.gradiente-azul {
  background: linear-gradient(45deg, #1e3a8a, #3b82f6);
}

.gradiente-violeta {
  background: linear-gradient(45deg, #7e22ce, #9333ea);
}

.gradiente-marron {
  background: linear-gradient(45deg, #6b4f1f, #a0522d);
}

.gradiente-negro {
  background: linear-gradient(45deg, #000000, #434343);
}

.gradiente-rojo {
  background: linear-gradient(45deg, #dc2626, #ef4444);
}

.bg-verde-musgo {
  background-color: #6f7357
}

.bg-verde-palido {
  background-color: #fef6cd
}

.bg-background {
  background-color: #121212
}

.bg-principal {
  background: linear-gradient(to right, #9597d3, #68d8c0);
  background: linear-gradient(to bottom, rgb(232, 255, 33, 1), rgb(232, 255, 33, 0.5) ,rgba(212, 255, 0, 0));
  background: #18181b;
  background: linear-gradient(45deg, #18181b, #1f1f22);



  color:#242424
}

.font-color{
  color: #242424;
}

.text-10xl {
  font-size: 10rem;
}

.w-8 {
  border: 1px solid #ccc;
}

.mb-90 {
  margin-bottom: 300px;
}

.open{
  @apply font-host text-lg mt-2 w-full verde-pastel text-black font-bold py-2 px-2 rounded-4xl flex items-center justify-center mb-2;
}

.closed{
  @apply font-host text-lg mt-2 w-full rojo-pastel text-white font-bold py-2 px-2 rounded-4xl flex items-center justify-center mb-2;
}

.principal-input {
  @apply w-full py-2 px-6 rounded-4xl outline-none bg-background border border-neutral-600 text-white font-host
}
.secondary-input {
  @apply w-full py-2 px-6 rounded-4xl outline-none text-zinc-200 bg-background font-normal
}

.button-form-primary {
  @apply bg-[#e8ff21] text-zinc-900 font-bold py-2 px-2 rounded-4xl w-1/2 transition-transform transform active:scale-95
}

.button-delete {
  @apply bg-red-500 text-white font-bold py-2 px-2  rounded-4xl w-1/2 transition-transform transform active:scale-95
}

.button-send {
  @apply bg-green-500 text-white font-bold py-2 px-2  rounded-4xl w-1/2 transition-transform transform active:scale-95
}

.container-principal {
  @apply flex flex-col bg-zinc-900 text-zinc-200 font-black italic rounded-3xl w-full px-4 py-3 mt-4 space-y-4
}

.horizontal-center {
  @apply flex items-center justify-center
}

.vertical-center {
  @apply flex flex-col items-center justify-center
}

.horizontal-end {
  @apply flex items-center justify-end
}

.vertical-between {
  @apply flex flex-col items-center justify-between
}

.horizontal-between {
  @apply flex items-center justify-between
}

.horizontal-around {
  @apply flex items-center justify-around
}

.vertical-around {
  @apply flex flex-col items-center justify-around
}

.suscription-card {
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
  height: 400px;
  @apply  rounded-4xl px-4 py-3 mt-4 space-y-4 shadow-lg text-white bg-zinc-900 
}

.clickable {
  @apply transition-transform transform active:scale-95 cursor-pointer
}

.border-none {
  border: none;
}

#qr-reader {
  border-radius: 20px;
  height: 550px;
  border: none;
  overflow: hidden;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart-animation {
  animation: heartbeat 1s infinite;
}