:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply bg-white text-black font-bold py-1 px-2 rounded-2xl w-1/2;
}

.button-third {
  @apply text-white font-bold mt-2 py-1 px-4 rounded-2xl;
}